body{
    background-color: white;
    font-family: 'Times New Roman', justify;
    
}

header, footer{
    background-image: url(../img/GreenIT.jpeg);
    padding: 2%;
    text-align: center;
}

section {
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: rgb(154, 211, 154);
    padding: 1%;
}

h1 {
    color: darkgreen;
}

h2 {
    color: rgb(55, 151, 69);
}

h2  ~ h3{
color: rgb(110, 178, 54);
}

nav{
    display: block;
    padding : 1%;
    margin: 1%;
}

a{
    text-decoration-line: none;
}

a:hover{
    background-color: green;
    color: white;
    border-radius: 5px;
}

.nava{
    font-size: large;
}
.nava:nth-child(1):hover{
    color: yellow;
    background-color: green;
}

.nava:nth-child(2):hover{
    color:grey;
    background-color: blue;
}

.nava:nth-child(3):hover{
    color:aquamarine;
    background-color: white;
}

.nava:nth-child(4):hover{
    color:yellowgreen;
    background-color: khaki;
}

section a{
    color: pink;
    font-style: italic;
}

header img{
    width: 30%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
}

#definition{
    color : rgb(107, 142, 35);
    font-size: 2vw;
    font-weight: bold;
}

#citation{
    color:aquamarine;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.9vw;
}

#postit{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.postit-item{
    background-color: rgb(0, 200, 100);
    border: 1px solid darkgreen;
    position: relative;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    width: 30%;
    max-width: 300px;
    flex-grow: 1;
}

.postit-item ul{
    display: none; 
    position: absolute; 
    min-width: 15%; 
    max-width: 150px;
    z-index: 100; 
}

.postit-item:hover ul {
    display: block; 
    background-color: lightyellow;
    padding: 7%;
    margin: 0.5%;
    list-style-type: disc;
    border-radius: 10px;
}

.postit-item:nth-child(1){
    color: black;
    background-color: grey;
}

.postit-item:nth-child(2){
    color: rgb(3, 67, 3);
    background-color: green;
}

.postit-item:nth-child(3){
    color: rgb(78, 82, 2);
    background-color: yellow;
}

.postit-item:nth-child(4){
    color: darkred;
    background-color: red;
}

.postit-item:nth-child(5){
    color: rgb(1, 100, 1);
    background-color: lightgreen;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 1%;
    text-align: center;
}
  
th {
    background-color: #4CAF50; 
    color: #fff;
}  

td {
    background-color: #f2f2f2; 
}
  
caption {
    color:#4CAF50;
    background-color: #f2f2f2;
    padding: 1%;
    font-size: 1.8vw;
    font-weight: bold;
    margin-bottom: 1%;
    border:#4CAF50 1px solid;
}
  
tr:nth-child(even) {
    background-color: #f7f7f7; 
}
  
tr:hover {
    background-color: #e7e7e7; 
}

form, fieldset{
    border:#4CAF50 1px solid;
    padding: 1%;
    margin: 2%;
    border-radius: 10px;
}

legend{
    background-color: #4CAF50;
    border-radius: 5px;
    color:white;
    padding: 0.3%;
}

.infos-persos{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#quiz input, select{
    border: #4CAF50 1px solid;
    border-radius: 10px;
}

#quiz button{
    background-color: #4CAF50;
    border-color: green;
    color: white;
    font-size: 1.6vw; 
    display: flex; 
    margin: auto;
}


input[type="text"], input[type="email"], input[type="date"], select {
    width: 25%;
    padding: 5px;
    margin-bottom: 10px;
    
}

#description{
    width:95%;
}

#questionnaire p{
    font-weight: bold;
}

#a-propos h1{
    text-align: center;
}
#a-propos h2{
    display: inline-block;
    margin-right: 1%;
}

#a-propos p{
    display: inline-block;
    font : 1.6vw 'Trebuchet MS', 'Lucida Sans';
    color: rgb(110, 156, 110);
}

#a-propos footer p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: block;
}

#a-propos section{
    background-color: lightyellow;
}

@media only screen and (max-width : 768px){
    header img{
        width: 40%;
        max-width: 200px;
    }

    #definition{
        font-size: 3vw;
    }

    #citation{
        font-size: 4vw;
    }

    .postit-item{
        width: 45%;
        max-width: 200px;
    }
}

@media only screen and (max-width : 480px){
    header img {
        width: 50%;
        max-width: 150px;
    }

    #definition {
        font-size: 4vw;
    }

    #citation {
        font-size: 5vw;
    }

    .postit-item {
        width: 90%;
        max-width: 150px;
    }
}
